* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-color: #f25922;
  --button-hover-color: #491604;
  --button-text-color: #fff;
  --button-text-hover-color: #f25922;
  --color-background: #3a2a2f;
  --color-background-overlay: rgba(0, 0, 0, 0.5);
  --color-stock-1: #c00000;
  --color-stock-2: #3c9342;
  --color-text: #3a2a2f;
  --width-container: 80%;
  --width-container-mobile: 100%;
  --margin-mobile: 10px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Section-1 */
#section-1 {
  display: block;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

#section-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-overlay);
  z-index: 1;
}

#section-1 video,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 32%;
  height: 40%;
  color: #ffffff;
  z-index: 2;
}

.overlay h2 {
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}

.overlay p {
  font-size: 18px;
  text-decoration: none;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
}

.overlay .btn-section-1 {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f25922;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* position: absolute; */
  margin: auto;
}

.btn-section-1 a {
  text-decoration: none;
  color: inherit;
}
.overlay .btn-section-1:hover {
  background-color: var(--button-hover-color);
}

.slide-pagination {
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, 0);
}

.slide-pagination .btn {
  color: transparent;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #aaaaaa50;
}

.slide-pagination .btn:hover {
  transform: scale(1.4);
}

.slide-pagination .btn-active {
  background-color: #ffffff;
}

/* Section-2 */
#section-2 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-2 .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* width: 80%; */
  width: var(--width-container);
  margin: 0 auto;
  padding-top: 50px;
}

#section-2 .container .section-2-item {
  width: 32.33%;
  height: 350px;
  position: relative;
  top: 0;
  left: 0;
}

#section-2 .container .section-2-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(26, 18, 21, 0.44);
  opacity: 0.9;
}

#section-2 .container .section-2-item .section-2-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;

  display: block;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
}

#section-2 .container .section-2-item .section-2-item-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-section-2 {
  width: fit-content;
  padding: 10px 30px;
  font-size: 1rem;
  background-color: var(--button-text-color);
  color: var(--button-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-section-2 a {
  text-decoration: none;
  color: inherit;
}

.btn-section-2:hover {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

/*!Section-3 start*/
#section-3 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-3 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;

  position: relative;
}
#section-3 .section-3-title {
  display: flex;
  width: var(--width-container);
  /* margin: 50px auto; */
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  flex-direction: row;
  justify-content: space-between;
}

#section-3 .container .section-3-item {
  /* height: 250px; */
  height: fit-content;
  flex: 0 0 16.66%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding: 20px;
}

#section-3 .container .section-3-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
}

#section-3 .container .section-3-item .item-detail {
  display: flex;
  flex-direction: column;
}

#section-3 .container .section-3-item .item-detail .stock {
  display: flex;
  flex-direction: row;
}

#section-3 .container .section-3-item .item-detail .stock div:nth-child(1) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}
#section-3 .container::-webkit-scrollbar {
  display: none;
}

#section-3 .prev,
.next {
  opacity: 0;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 4px 6px #00000014;
  border: none;
  padding: 6px;
  transition: opacity 0.3s ease;
}

#section-3 .prev {
  left: 10%;
  margin-left: 10px;
}

#section-3 .next {
  right: 10%;
  margin-right: 10px;
}

#section-3:hover .next {
  opacity: 1;
}

#section-3:hover .prev {
  opacity: 1;
}

button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

#section-3 .prev svg,
.next svg {
  color: red;
  stroke: #aaa;
  width: 26px;
  height: 26px;
}

.addToCart {
  display: flex;
  flex-direction: column;
}

.addToCart button {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease, opacity 0.5s ease;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transform: translateY(-100%);
  z-index: 333;
  opacity: 0;
}

.section-3-item:hover .addToCart button {
  transform: translate(0, -100%);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

.section-3-item:hover .addToCart button:hover {
  transform: translate(0, -100%);
  background: var(--button-hover-color);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

/*! Section-3 end*/

/*! Section-4 start */
#section-4 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-4 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}
#section-4 .section-4-title {
  display: flex;
  width: var(--width-container);
  /* margin: 50px auto; */
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}

#section-4 .container .section-4-item {
  /* height: 250px; */
  height: fit-content;
  flex: 0 0 16.66%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
}

#section-4 .container .section-4-item .item-detail {
  display: flex;
  justify-content: center;
}

#section-4 .container .section-4-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
}

#section-4 .container::-webkit-scrollbar {
  display: none;
}

/*! Section-4 end */

/*! Section-5 start */
#section-5 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-5 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}
#section-5 .section-5-title {
  display: flex;
  width: var(--width-container);
  /* margin: 50px auto; */
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  flex-direction: row;
  justify-content: space-between;
}

#section-5 .container .section-5-item {
  display: flex;
  height: fit-content;
  flex: 0 0 16.66%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

#section-5 .container .section-5-item img {
  width: 50%;
  /* object-fit: cover; */
  object-fit: contain;
  display: flex;
  position: relative;
  aspect-ratio: 16/9;
}

#section-5 .container::-webkit-scrollbar {
  display: none;
}

/*! Section-5 end */

/* Media Queries */
@media (max-width: 768px) {
  /* Section-1 */
  .overlay {
    width: 80%;
    .overlay h2 {
      font-size: 1.5rem;
    }
    .overlay p {
      font-size: 0.9rem;
    }
    .overlay .btn-section-1 {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 480px) {
  /* Section-1 */
  .overlay {
    width: 90%;
  }

  .overlay h2 {
    font-size: 42px;
    word-break: break-word;
  }

  .overlay p {
    font-size: 17px !important;
  }

  .overlay .btn-section-1 {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  /* Section-2 */
  #section-2 .container {
    display: flex;
    flex-direction: row;
    width: var(--width-container-mobile);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }

  #section-2 .container .section-2-item {
    width: var(--width-container-mobile);
    height: 250px;
    margin: 10px 10px;
    flex-shrink: 0;
  }
  #section-2 .container::-webkit-scrollbar {
    display: none;
  }

  #section-2 .container .section-2-item .section-2-item-overlay p {
    white-space: normal;
  }

  /* Section-3 */
  #section-3 .container {
    width: 100%;
  }

  #section-3 .container .section-3-item {
    flex: 0 0 80%;
  }
  #section-3 .container .section-3-item:first-child {
    margin-left: var(--margin-mobile);
  }

  #section-3 .container .section-3-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #section-3 .prev,
  .next {
    display: none;
  }

  #section-3 .section-3-title {
    flex-direction: column;
    align-items: center;
  }

  /* Section-4 */
  #section-4 .section-4-title {
    flex-direction: column;
    align-items: center;
  }
  #section-4 .container {
    width: 100%;
  }

  #section-4 .container .section-4-item {
    flex: 0 0 80%;
  }

  #section-4 .container .section-4-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Section-5 */
  #section-5 .section-5-title {
    flex-direction: column;
    align-items: center;
  }
  #section-5 .container {
    width: 100%;
    margin-left: var(--margin-mobile);
  }

  #section-5 .container .section-5-item {
    flex: 0 0 40%;
  }

  #section-4 .container .section-5-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
