* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-color: #f25922;
  --button-hover-color: #491604;
  --button-text-color: #fff;
  --button-text-hover-color: #f25922;
  --color-background: #3a2a2f;
  --color-background-overlay: rgba(0, 0, 0, 0.5);
  --color-stock-1: #c00000;
  --color-stock-2: #3c9342;
  --color-text: #3a2a2f;
  --width-container: 75%;
  --width-container-mobile: 100%;
  --margin-mobile: 10px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Section-1 */
#section-1 {
  display: block;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

#section-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-overlay);
  z-index: 1;
}

#section-1 video,
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 32%;
  height: 40%;
  color: #ffffff;
  z-index: 2;
}

.overlay h2 {
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
}

.overlay p {
  font-size: 18px;
  text-decoration: none;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  color: #ffffff;
}

.overlay .btn-section-1 {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f25922;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* position: absolute; */
  margin: auto;
}

.btn-section-1 a {
  text-decoration: none;
  color: inherit;
}
.overlay .btn-section-1:hover {
  background-color: var(--button-hover-color);
}

.slide-pagination {
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, 0);
}

.slide-pagination .btn {
  color: transparent;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #aaaaaa50;
}

.slide-pagination .btn:hover {
  transform: scale(1.4);
}

.slide-pagination .btn-active {
  background-color: #ffffff;
}

/* Section-2 */
#section-2 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-2 .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* width: 80%; */
  width: var(--width-container);
  margin: 0 auto;
  padding-top: 50px;
}

#section-2 .container .section-2-item {
  width: 32.33%;
  height: 350px;
  position: relative;
  top: 0;
  left: 0;
}

#section-2 .container .section-2-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(26, 18, 21, 0.44);
  opacity: 0.9;
}

#section-2 .container .section-2-item .section-2-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: block;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
}

#section-2 .container .section-2-item .section-2-item-overlay h2 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Beae-font-hjab", sans-serif;
}
#section-2 .container .section-2-item .section-2-item-overlay p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Beae-font-hjab", sans-serif;
  margin-top: 20px;
  width: 85%;
  color: #fff;
}
#section-2 .container .section-2-item .section-2-item-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-section-2 {
  width: fit-content;
  padding: 10px 40px;
  font-size: 1rem;
  background-color: var(--button-text-color);
  color: var(--button-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-section-2 a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 700;
  line-height: 24px;
}

.btn-section-2:hover {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

/*!Section-3 start*/
#section-3 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-3 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;

  position: relative;
}
#section-3 .section-3-title {
  display: flex;
  width: var(--width-container);
  /* margin: 50px auto; */
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}

#section-3 .section-3-title h2 {
  font-size: 28px;
  line-height: 36px;
  font-family: "Beae-font-pbdl", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#section-3 .section-3-title a {
  color: #f25922;
  font-size: 14px;
  font-family: "Basic500", sans-serif;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
#section-3 .section-3-title a:hover {
  color: #3a2a2f;
}

#section-3 .container .section-3-item {
  /* height: 250px; */
  height: fit-content;
  flex: 0 0 16.66%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding: 20px;
  cursor: pointer;
}

#section-3 .container .section-3-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
}

#section-3 .container .section-3-item .item-detail {
  display: flex;
  flex-direction: column;
}
#section-3 .container .section-3-item .item-detail .inventory {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-background);
}

#section-3 .container .section-3-item .item-detail .prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-top: 10px;
}
#section-3 .container .section-3-item .item-detail .prices .price:nth-child(1) {
  color: #f25922;
  font-size: 19px;
}

#section-3 .container .section-3-item .item-detail .prices .price:nth-child(2) {
  color: #825e69;
  font-size: 16px;
  text-decoration: line-through;
}

#section-3 .container .section-3-item .item-detail .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-background);
  margin-top: 10px;
}

#section-3 .container .section-3-item .item-detail .stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#section-3 .container .section-3-item .item-detail .stock div:nth-child(1) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

#section-3 .container .section-3-item .item-detail .stock div:nth-child(2) {
  color: #c00000;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.stock .stock-red {
  background-color: #c00000;
}

.stock .stock-green {
  background-color: #3c9342;
}
#section-3 .container::-webkit-scrollbar {
  display: none;
}

#section-3 .prev,
.next {
  opacity: 0;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 4px 6px #00000014;
  border: none;
  padding: 6px;
  transition: opacity 0.3s ease;
}

#section-3 .prev {
  left: 12.5%;
  margin-left: 10px;
}

#section-3 .next {
  right: 12.5%;
  margin-right: 10px;
}

#section-3:hover .next {
  opacity: 1;
}

#section-3:hover .prev {
  opacity: 1;
}

button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

#section-3 .prev svg,
.next svg {
  color: red;
  stroke: #aaa;
  width: 26px;
  height: 26px;
}

.addToCart {
  display: flex;
  flex-direction: column;
}

.addToCart button {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease, opacity 0.5s ease;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transform: translateY(-100%);
  z-index: 333;
  opacity: 0;
}

.section-3-item:hover .addToCart button {
  transform: translate(0, -100%);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

.section-3-item:hover .addToCart button:hover {
  transform: translate(0, -100%);
  background: var(--button-hover-color);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

/*! Section-3 end*/

/*! Section-4 start */
#section-4 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-4 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;

  /* gap: 10px; */
}
#section-4 .section-4-title {
  display: flex;
  width: var(--width-container);
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}
#section-4 .section-4-title h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

#section-4 .container .section-4-item {
  flex: 0 0 16.66%;
  transition: transform 0.5s ease;
  overflow: hidden;
  padding-right: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#section-4 .container .section-4-item .item-detail {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  font-style: normal;
  color: var(--color-background);
}

#section-4 .container .section-4-item img {
  width: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
  transition: 0.3s;
}

#section-4 .container .section-4-item div:nth-child(1) {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#section-4 .container .section-4-item:hover img {
  transform: scale(1.1);
}

#section-4 .container .section-4-item .hover {
  border: 1px solid black;
}

#section-4 .container::-webkit-scrollbar {
  display: none;
}

/*! Section-4 end */

/*! Section-5 start */
#section-5 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-5 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}
#section-5 .section-5-title {
  display: flex;
  width: var(--width-container);
  /* margin: 50px auto; */
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}

#section-5 .section-5-title h2 {
  line-height: 36px;
  font-size: 28px;
  color: var(--color-background);
  font-weight: 400;
}

#section-5 .container .section-5-item {
  display: flex;
  height: fit-content;
  flex: 0 0 16.66%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  cursor: pointer;
}

#section-5 .container .section-5-item img {
  width: 50%;
  /* object-fit: cover; */
  object-fit: contain;
  display: flex;
  position: relative;
  aspect-ratio: 16/9;
}

#section-5 .container::-webkit-scrollbar {
  display: none;
}

/*! Section-5 end */

/* Section-6 */

.section-6 {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: 30px;
}

.section-6 .section-6-main {
  display: flex;
  flex-direction: row;
  border: 1px solid #e4e4e4;
  width: var(--width-container);
  margin: 0 auto;
  position: relative;
}

.section-6 .section-6-main .section-6-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: color-mix(in srgb, #3a2a2f 100%, transparent);
}

.section-6 .section-6-main .section-6-text .container-text {
  color: #fff;
  height: 100%;
  width: 85%;
  margin: 30px auto;
}

.section-6 .section-6-main .section-6-text .container-text h3 {
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
}
.section-6 .section-6-main .section-6-text .container-text p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.section-6 .section-6-main .section-6-images {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.section-6 .section-6-main .section-6-text .btn-section-6 {
  width: fit-content;
  padding: 12px 35px;
  font-size: 1rem;

  /* color: var(--button-color); */
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.section-6 .section-6-main .section-6-text .btn-section-6 a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 700;
  line-height: 24px;
}
.section-6 .section-6-main .section-6-text .btn-section-6:hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}

.section-6 .section-6-main .section-6-images .container {
  display: flex;
  /* width: var(--width-container); */
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.section-6 .section-6-main .section-6-images .container .section-6-item {
  height: fit-content;
  flex: 0 0 25%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding: 20px;
}

.section-6 .section-6-main .section-6-images .container .section-6-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail {
  display: flex;
  flex-direction: column;
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .inventory {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-background);
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-background);
  margin-top: 10px;
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .stock
  div:nth-child(1) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-top: 10px;
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .prices
  .price:nth-child(1) {
  color: #f25922;
  font-size: 19px;
}

.section-6
  .section-6-main
  .section-6-images
  .container
  .section-6-item
  .item-detail
  .prices
  .price:nth-child(2) {
  color: #825e69;
  font-size: 16px;
  text-decoration: line-through;
}

.stock .stock-red {
  background-color: #c00000;
}

.stock .stock-green {
  background-color: #3c9342;
}
.section-6 .container::-webkit-scrollbar {
  display: none;
}

.section-6 .section-6-main .section-6-images .prev6,
.next6 {
  opacity: 0;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 35%;
  cursor: pointer;
  z-index: 99;
  border-radius: 50%;
  box-shadow: 0 4px 6px #00000014;
  border: none;
  padding: 6px;
  transition: opacity 0.3s ease;
}
.section-6 .section-6-main .section-6-images .prev6 {
  left: 30%;
  margin-left: 10px;
}

.section-6 .section-6-main .section-6-images .next6 {
  right: 0;
  margin-right: 10px;
}

.section-6:hover .section-6-main .section-6-images .prev6 {
  opacity: 1;
}

.section-6:hover .section-6-main .section-6-images .next6 {
  opacity: 1;
}

button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

.section-6 .prev6 svg,
.next6 svg {
  color: red;
  stroke: #aaa;
  width: 26px;
  height: 26px;
}

.addToCart {
  display: flex;
  flex-direction: column;
}

.addToCart button {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease, opacity 0.5s ease;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transform: translateY(-100%);
  z-index: 333;
  /* opacity: 0; */
}

.section-6-item:hover .addToCart button {
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

.section-6-item:hover .addToCart button:hover {
  transform: translate(0, -100%);
  background: var(--button-hover-color);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

/* Section-6 end */

/* Section-7 start */

#section-7 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#section-7 .title {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  font-size: 28px;
  line-height: 36px;
  font-family: "Beae-font-pbdl", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-background);
}

#section-7 .container {
  display: flex;
  width: var(--width-container);
  margin: 20px auto;
  /* border: 1px solid black; */
}

#section-7 .container .container-item {
  display: flex;
  width: 100%;
  border: 1px solid #e4e4e4;
}
#section-7 .container .container-item:last-child {
  flex-direction: column;
}

#section-7 .container .container-item .item-left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15%;
}

#section-7 .container .container-item .item-left img {
  width: 75%;
  height: 12%;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
  /* padding: 3px; */
  /* border: none; */
}

#section-7 .container .container-item .item-right {
  width: 85%;
  /* border: 1px solid black; */
  height: 100%;
}
#section-7 .container .container-item .imageOptions .textImage {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#section-7 .container .container-item .imageOptions .textImage label {
  color: var(--color-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
#section-7 .container .container-item .imageOptions .textImage h2 {
  font-variant: var(--color-background);
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  font-size: normal;
}

#section-7 .container .container-item .imageOptions .optionsColor {
  /* border: 1px solid black; */
  display: flex;
  flex: row;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#section-7 .container .container-item .imageOptions .optionsColor .color {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

#section-7 .container .container-item .imageOptions .optionsColor .color:hover {
  scale: 0.9;
}
#section-7 .container .container-item .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
#section-7 .container .container-item .buttons .btn-left,
.btn-right {
  width: 50%;
}

#section-7 .container .container-item .buttons .btn-left button,
.btn-right button {
  padding: 15px 20px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
}
#section-7 .container .container-item .buttons .btn-right div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#section-7 .container .container-item .buttons .btn-left button {
  background-color: var(--button-color);
}

#section-7 .container .container-item .buttons .btn-left button:hover {
  background-color: var(--button-hover-color);
}

#section-7 .container .container-item .buttons .btn-right button {
  background-color: var(--color-background);
}

#section-7 .container .container-item .info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}
#section-7 .container .container-item .info div {
  color: var(--color-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
#section-7 .container .container-item .info svg {
  color: var(--color-background);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 5px;
}

#section-7
  .container
  .container-item
  .imageOptions
  .optionsColor
  .color:active {
  width: 90%;
}

.active {
  border: 1px solid black;
  scale: 0.9;
}

#section-7 .container-item .items {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#section-7 .container-item .items p {
  color: var(--color-background);
  margin: 20px 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
}

#section-7 .container-item .items span:nth-child(1) {
  font-size: 11px;
  text-transform: uppercase;
  color: #825e69;
}
#section-7 .container-item .items span:nth-child(2) {
  font-size: 33px;
  color: var(--color-background);
  line-height: 43px;
}

#section-7 .container-item .items .prices {
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#section-7 .container-item .items .prices .price-current {
  color: var(--button-text-hover-color);
}
#section-7 .container-item .items .prices .price-sale {
  color: #825e69;
  text-decoration: line-through;
}

#section-7 .container-item .items .price-paragraph {
  font-size: 14px;
  color: var(--color-background);
  margin-top: 10px;
  line-height: 24px;
  border-bottom: 1px solid #e4e4e4;

  padding-bottom: 20px;
}
#section-7 .container-item .items .price-paragraph .subtitle {
  color: #825e69;
}

/* Section-7 end */

/* Section-8 start */

#section-8 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#section-8 .container {
  width: 40%;
  margin: 20px auto;
  position: relative;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
#section-8 .container h3 {
  line-height: 43px;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #3a2a2f;
}

#section-8 .container p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #3a2a2f;
}
#section-8 .container p::first-letter {
  margin-left: 15px;
}

#section-8 .container div {
  padding: 15px 40px;
  background-color: var(--button-color);
}

#section-8 .container div:hover {
  background-color: var(--button-hover-color);
}
#section-8 .container div a {
  color: #fdfcfb;

  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
}

/* Section-9 */

.section-9 {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-9 .section-9-main {
  display: flex;
  flex-direction: row;
  width: var(--width-container);
  margin: 0 auto;
  position: relative;
}

.section-9 .section-9-main .section-9-text {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: color-mix(in srgb, #3a2a2f 100%, transparent);
}

.section-9 .section-9-main .section-9-text .container-text {
  color: #fff;
  height: 100%;
  width: 85%;
  margin: 30px auto;
}

.section-9 .section-9-main .section-9-text .container-text h3 {
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
}
.section-9 .section-9-main .section-9-text .container-text p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.section-9 .section-9-main .section-9-images {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.section-9 .section-9-main .section-9-text .btn-section-6 {
  width: fit-content;
  padding: 12px 35px;
  font-size: 1rem;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.section-9 .section-9-main .section-9-text .btn-section-6 a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 700;
  line-height: 24px;
}
.section-9 .section-9-main .section-9-text .btn-section-6:hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}

.section-9 .section-9-main .section-9-images .container {
  display: flex;
  /* width: var(--width-container); */
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

.section-9 .section-9-main .section-9-images .container .section-9-item {
  height: fit-content;
  flex: 0 0 25%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding: 20px;
  cursor: pointer;
}

.section-9 .section-9-main .section-9-images .container .section-9-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail {
  display: flex;
  flex-direction: column;
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .inventory {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-background);
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-background);
  margin-top: 10px;
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .stock
  div:nth-child(1) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-top: 10px;
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .prices
  .price:nth-child(1) {
  color: #f25922;
  font-size: 19px;
}

.section-9
  .section-9-main
  .section-9-images
  .container
  .section-9-item
  .item-detail
  .prices
  .price:nth-child(2) {
  color: #825e69;
  font-size: 16px;
  text-decoration: line-through;
}

.stock .stock-red {
  background-color: #c00000;
}

.stock .stock-green {
  background-color: #3c9342;
}
.section-9 .container::-webkit-scrollbar {
  display: none;
}

.section-9 .section-9-main .section-9-images .prev9,
.next9 {
  opacity: 0;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 35%;
  cursor: pointer;
  z-index: 99;
  border-radius: 50%;
  box-shadow: 0 4px 6px #00000014;
  border: none;
  padding: 6px;
  transition: opacity 0.3s ease;
}
.section-9 .section-9-main .section-9-images .prev9 {
  left: 30%;
  margin-left: 10px;
}

.section-9 .section-9-main .section-9-text .btn-section-9 {
  width: fit-content;
  padding: 12px 35px;
  font-size: 1rem;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.section-9 .section-9-main .section-9-text .btn-section-9 a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 700;
  line-height: 24px;
}
.section-9 .section-9-main .section-9-text .btn-section-9:hover {
  background-color: var(--button-hover-color);
  color: var(--button-text-color);
}

.section-9 .section-9-main .section-9-images .next9 {
  right: 0;
  margin-right: 10px;
}

.section-9:hover .section-9-main .section-9-images .prev9 {
  opacity: 1;
}

.section-9:hover .section-9-main .section-9-images .next9 {
  opacity: 1;
}

button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

.section-9 .prev9 svg,
.next9 svg {
  color: red;
  stroke: #aaa;
  width: 26px;
  height: 26px;
}

.addToCart {
  display: flex;
  flex-direction: column;
}

.addToCart button {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease, opacity 0.5s ease;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transform: translateY(-100%);
  z-index: 333;
  /* opacity: 0; */
}

.section-9-item:hover .addToCart button {
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

.section-9-item:hover .addToCart button:hover {
  transform: translate(0, -100%);
  background: var(--button-hover-color);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

/* Section-10 */
#section-10 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#section-10 .container {
  display: flex;
  flex-direction: row;
  width: var(--width-container);
  margin: 20px auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  gap: 20px;
}
#section-10 .section-10-title {
  display: flex;
  width: var(--width-container);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}

#section-10 .section-10-title a {
  color: #f25922;
  font-size: 14px;
  font-family: "Basic500", sans-serif;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
#section-10 .section-10-title a:hover {
  color: #3a2a2f;
}
#section-10 .container .section-10-item {
  transition: transform 0.5s ease;
  width: 25%;
  flex: 0 0 25%;
  cursor: pointer;
}

#section-10 .container .section-10-item img {
  width: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
  height: 50%;
}

#section-10 .container .section-10-item .item-detail {
  display: flex;
  flex-direction: column;
  white-space: wrap;
}

#section-10 .container .section-10-item .item-detail div:nth-child(1) {
  margin: 12px 0 4px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}

#section-10 .container .section-10-item .item-detail div:nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section-10 .container .section-10-item .item-detail div:nth-child(3) {
  margin-top: 5px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: var(--button-color);
  letter-spacing: 0.1px;
}

#section-10 .container .section-10-item .item-detail div:nth-child(3):hover {
  margin-top: 5px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 700;
  color: var(--button-hover-color);
  letter-spacing: 0.1px;
}

#section-10 .container::-webkit-scrollbar {
  display: none;
}

#section-10 .prev10,
.next10 {
  opacity: 0;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 4px 6px #00000014;
  background: #fff;
  border: none;
  padding: 6px;
  transition: opacity 0.3s ease;
}

#section-10 .prev10 {
  left: 12.5%;
  margin-left: 10px;
}

#section-10 button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

#section-10 .next10 {
  right: 12.5%;
  margin-right: 10px;
}

#section-10:hover .next10 {
  opacity: 1;
}

#section-10:hover .prev10 {
  opacity: 1;
}

button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

#section-10 .prev10 svg,
.next10 svg {
  color: red;
  stroke: #aaa;
  width: 26px;
  height: 26px;
}

/* Section-11 */
#section-11 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 50px;
}

#section-11 .container {
  display: flex;
  width: var(--width-container);
  margin: 0 auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

#section-11 .section-11-title {
  display: flex;
  width: var(--width-container);
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
}

#section-11 .section-11-title h2 {
  font-size: 28px;
  line-height: 36px;
  font-family: "Beae-font-pbdl", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#section-11 .section-11-title a {
  color: #f25922;
  font-size: 14px;
  font-family: "Basic500", sans-serif;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
#section-11 .section-11-title a:hover {
  color: #3a2a2f;
}

#section-11 .container .section-11-item {
  /* height: 250px; */
  height: fit-content;
  flex: 0 0 16.66%;
  border: 1px solid #e6dde0;
  transition: transform 0.5s ease;
  padding: 20px;
  cursor: pointer;
}

#section-11 .container .section-11-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
  aspect-ratio: 1/1;
}

#section-11 .container .section-11-item .item-detail {
  display: flex;
  flex-direction: column;
}
#section-11 .container .section-11-item .item-detail .inventory {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-background);
}

#section-11 .container .section-11-item .item-detail .prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-top: 10px;
}
#section-11
  .container
  .section-11-item
  .item-detail
  .prices
  .price:nth-child(1) {
  color: #f25922;
  font-size: 19px;
}

#section-11
  .container
  .section-11-item
  .item-detail
  .prices
  .price:nth-child(2) {
  color: #825e69;
  font-size: 16px;
  text-decoration: line-through;
}

#section-11 .container .section-11-item .item-detail .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-background);
  margin-top: 10px;
}

#section-11 .container .section-11-item .item-detail .stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#section-11 .container .section-11-item .item-detail .stock div:nth-child(1) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

#section-11 .container .section-11-item .item-detail .stock div:nth-child(2) {
  color: #c00000;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.stock .stock-red {
  background-color: #c00000;
}

.stock .stock-green {
  background-color: #3c9342;
}
#section-11 .container::-webkit-scrollbar {
  display: none;
}

#section-11 .prev11,
.next11 {
  opacity: 0;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 4px 6px #00000014;
  border: none;
  padding: 6px;
  transition: opacity 0.3s ease;
}

#section-11 .prev11 {
  left: 12.5%;
  margin-left: 10px;
}

#section-11 .next11 {
  right: 12.5%;
  margin-right: 10px;
}

#section-11:hover .next11 {
  opacity: 1;
}

#section-11:hover .prev11 {
  opacity: 1;
}

button:disabled {
  color: #3a2a2f;
  cursor: default !important;
}

#section-11 .prev11 svg,
.next11 svg {
  color: red;
  stroke: #aaa;
  width: 26px;
  height: 26px;
}

.addToCart {
  display: flex;
  flex-direction: column;
}

.addToCart button {
  background-color: var(--button-color);
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease, opacity 0.5s ease;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transform: translateY(-100%);
  z-index: 333;
  opacity: 0;
}

.section-11-item:hover .addToCart button {
  transform: translate(0, -100%);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

.section-11-item:hover .addToCart button:hover {
  transform: translate(0, -100%);
  background: var(--button-hover-color);
  opacity: 1;
  box-shadow: 0 4px 6px #00000014;
}

#section-12 {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 40px;
  background: color-mix(in srgb, #f3eeea 100%, transparent);
}

#section-12 .container {
  display: flex;
  width: var(--width-container);
  margin: 0 auto;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

#section-12 .container .container-item {
  display: flex;
  width: 25%;
  flex-direction: row;
}

#section-12 .container .container-item .item-img svg {
  width: 28px;
  height: 28px;
  border: none;
  margin-right: 10px;
}

#section-12 .container .container-item .item-text {
  width: 75%;
  text-wrap: wrap;
}

#section-12 .container::-webkit-scrollbar {
  display: none;
}
#section-12 .container .container-item .item-text h3 {
  color: var(--color-background);
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

#section-12 .container .container-item .item-text p {
  color: #525252;
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Section-1 */
  .overlay {
    width: 80%;
    .overlay h2 {
      font-size: 1.5rem;
    }
    .overlay p {
      font-size: 0.9rem;
    }
    .overlay .btn-section-1 {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 480px) {
  /* Section-1 */

  .overlay {
    width: 90%;
  }

  .overlay h2 {
    font-size: 42px;
    word-break: break-word;
  }

  .overlay p {
    font-size: 17px !important;
  }

  .overlay .btn-section-1 {
    padding: 6px 12px;
    font-size: 0.8rem;
  }

  /* Section-2 */
  #section-2 .container {
    display: flex;
    flex-direction: row;
    width: var(--width-container-mobile);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 20px;
  }

  #section-2 .container .section-2-item {
    width: var(--width-container-mobile);
    height: 250px;
    margin: 10px 10px;
    flex-shrink: 0;
  }
  #section-2 .container::-webkit-scrollbar {
    display: none;
  }

  #section-2 .container .section-2-item .section-2-item-overlay p {
    white-space: normal;
  }

  /* Section-3 */
  #section-3 .container {
    width: 100%;
  }

  #section-3 .container .section-3-item {
    flex: 0 0 80%;
  }
  #section-3 .container .section-3-item:first-child {
    margin-left: var(--margin-mobile);
  }

  #section-3 .container .section-3-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #section-3 .prev,
  .next {
    display: none;
  }

  #section-3 .section-3-title {
    flex-direction: column;
    align-items: center;
  }

  /* Section-4 */
  #section-4 .section-4-title {
    flex-direction: column;
    align-items: center;
  }
  #section-4 .container {
    width: 100%;
  }

  #section-4 .container .section-4-item {
    flex: 0 0 80%;
    margin-right: 10px;
  }

  #section-4 .container .section-4-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Section-5 */
  #section-5 .section-5-title {
    flex-direction: column;
    align-items: center;
  }
  #section-5 .container {
    width: 100%;
    margin-left: var(--margin-mobile);
  }

  #section-5 .container .section-5-item {
    flex: 0 0 40%;
  }

  #section-4 .container .section-5-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Section-6 */

  .section-6 .section-6-main {
    flex-direction: column;
    width: 100%;
  }

  .section-6 .section-6-main .section-6-text {
    width: 100%;
  }
  .section-6 .section-6-main .section-6-images {
    width: 100%;
  }
  .section-6 .section-6-main .section-6-images .container .section-6-item {
    flex: 0 0 80%;
  }

  .section-6 .section-6-main .section-6-images .prev6,
  .next6 {
    display: none;
  }

  /* Section-7 */
  #section-7 .container {
    width: 100%;
    flex-direction: column;
    margin-left: 10px;
  }
  #section-7 .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #section-7 .container .container-item:nth-child(1) {
    flex-direction: column;
  }

  #section-7 .container .container-item .item-right {
    display: none;
  }

  #section-7 .container .container-item .item-left {
    width: 100%;
    flex-direction: row;
    overflow: scroll;
  }
  #section-7 .container .container-item .item-left img {
    width: 100%;
  }

  /* Section-9 */
  .section-9 .section-9-main {
    flex-direction: column;
    width: 100%;
  }
  .section-9 .section-9-main .section-9-text {
    width: 100%;
  }
  .section-9 .section-9-main .section-9-images {
    width: 100%;
  }
  .section-9 .section-9-main .section-9-images .container .section-9-item {
    flex: 0 0 80%;
  }

  .section-9 .section-9-main .section-9-images .prev9,
  .next9 {
    display: none;
  }

  /* Section-10 */
  #section-10 .section-10-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #section-10 .container {
    width: 100%;
    margin-left: 10px;
  }
  #section-10 .container .section-10-item {
    flex: 0 0 80%;
    height: fit-content;
    /* margin-right: 10px; */
  }

  #section-10 .container .section-10-item img,
  .item-detail {
    width: 100%;
  }

  #section-10 .prev10,
  .next10 {
    display: none;
  }

  /* Section-8 */
  #section-8 .container {
    width: 90%;
  }

  /* Section-11 */
  #section-11 .section-11-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #section-11 .container {
    width: 100%;
  }

  #section-11 .container .section-11-item {
    width: 80%;
  }
  #section-11 .container .section-11-item:first-child {
    margin-left: 10px;
  }

  /* Section-12 */
  #section-12 .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
  }
  #section-12 .container .container-item {
    width: 80%;
    flex: 0 0 80%;
  }
}
